<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Chat-Shire</title>
    <link rel="stylesheet" href="../public/css/bundle2.css">

    <script src="https://use.fontawesome.com/d4dd7fa524.js"></script>
  </head>
  <body>
    <iframe id="editor" name="editor"></iframe>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <!--<script src="../js/bundle.js"></script> -->
  <script src="../public/js/board.js"></script>
</html>
