body, ul, li, h1, h2, h3 {
  margin: 0;
  padding: 0; }

.clear:after {
  display: block;
  content: '';
  clear: both; }

.vertical {
  display: table-cell;
  vertical-align: middle; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  height: 100%; }

#editor {
  width: 100%;
  height: 100%;
  border: 4px solid #fff;
  background: #3C3E52;
  box-sizing: border-box; }
